!
! Purple Triadic Solarized Dark
!
! Common
!#define S_yellow       #00B589 
!#define S_orange       #16CB4B 
!#define S_red          #2FDC32 
!#define S_magenta      #82D336 
!#define S_violet       #C46C71 
!#define S_blue         #D2268B 
!#define S_cyan         #982AA1 
!#define S_green        #008599 

! Dark
!#define S_base03        [90]#36002B
!#define S_base02        #420736642
!#define S_base01        #75586Ee75
!#define S_base00        #83657Bb83
!#define S_base0         #968394496
!#define S_base1         #A193A11a1
!#define S_base2         #D5EEE88d5
!#define S_base3         #E3FDF66e3

! 
! Monokai
! 
!#define x_black         #101010         
!#define x_darkGrey      #303030
!#define x_darkRed       #960050    
!#define x_red           #ff0090
!#define x_darkGreen     #66aa11
!#define x_green         #80ff00
!#define x_darkYellow    #c47f2c
!#define x_yellow        #ffba68
!#define x_darkBlue      #30309b
!#define x_blue          #5f5fee
!#define x_darkMagenta   #7e40a5
!#define x_magenta       #bb88dd
!#define x_darkCyan      #3579a8
!#define x_cyan          #4eb4fa
!#define x_lightGray     #9999aa
!#define x_white         #d0d0d0

!
! Base16 Custom Eggplant
!
!#define base00 #150525
!#define base01 #2f1549
!#define base02 #4b2c6a
!#define base03 #694988
!#define base04 #a68ebe
!#define base05 #c4b2d5
!#define base06 #ded3e8
!#define base07 #f3eff7
!#define base08 #80ff00
!#define base09 #00ff00
!#define base0A #00ff80
!#define base0B #0080ff
!#define base0C #8000ff
!#define base0D #ff0080
!#define base0E #ff8000
!#define base0F #ffff00

!
! Base16 Custom Ubuntu
!
!#define base00 #250525
!#define base01 #491549
!#define base02 #6a2c6a
!#define base03 #884988
!#define base04 #be8ebe
!#define base05 #d5b2d5
!#define base06 #e8d3e8
!#define base07 #f7eff7
!#define base08 #00ff00
!#define base09 #00ff80
!#define base0A #00ffff
!#define base0B #0000ff
!#define base0C #ff00ff
!#define base0D #ff0000
!#define base0E #ffff00
!#define base0F #80ff00

!Dont worry about getting terminal vim to look good; solarized looks like shit.
!#include ".Xresources.d/base16-monokai"
!#include ".Xresources.d/base16-solarized-dark"
!#include ".Xresources.d/solarized-dark"
!#include ".Xresources.d/solarized-light"
#include ".Xresources.d/molokai_bright"
!#include ".Xresources.d/tango-dark"
!#include ".Xresources.d/tango-light"
!#include ".Xresources.d/xterm"
!#include ".Xresources.d/black-on-white"
!#include ".Xresources.d/monokai"

URxvt.font:                 xft:DejaVuSansMono Nerd Font Mono:size=11
URxvt.scrollBar:            False
URxvt.perl-ext-common:      resize-font,selection-to-clipboard
!URxvt.perl-ext-common:      resize-font,tabbed,selection-to-clipboard
!URxvt.tabbed.tabbar-fg:     8
!URxvt.tabbed.tabbar-bg:     0
!URxvt.tabbed.tab-fg:        1
!URxvt.tabbed.tab-bg:        13
URxvt.resize-font.smaller:  C-Down
URxvt.resize-font.bigger:   C-Up
URxvt.depth:                32
