! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #222222, #222222, #333333
rofi.color-normal: #222222, #c1c1c1, #333333, #1793d1, #ffffff
rofi.color-active: #222222, #80cbc4, #333333, #1793d1, #80cbc4
rofi.color-urgent: #222222, #ff1844, #333333, #1793d1, #ff1844
