#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Geogebra (Kiosk)
#Exec=chromium --app=https://www.geogebra.org/materials/yours
Exec=firefox -p work --kiosk --new-window https://www.geogebra.org/materials/yours
Icon=/home/brent/Pictures/Icons/Geogebra.png
