#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Calendar (Kiosk)
#Exec=chromium --app=https://calendar.google.com/
Exec=firefox -p work --kiosk --new-window https://calendar.google.com/
Icon=/home/brent/Pictures/Icons/Google Calendar 3.png
