#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=OneDrive - NWU (Kiosk)
#Exec=chromium --app=https://nebrwesleyan-my.sharepoint.com
Exec=firefox -p work --kiosk --new-window https://nebrwesleyan-my.sharepoint.com
Icon=/home/brent/Pictures/Icons/OneDrive2.png
