snippet theorem "Theorem Environment" b
	\\begin{theorem}
		${0:${VISUAL}}
	\\end{theorem}
endsnippet

snippet card "Frame with Card" b
\\begin{frame}{\\subsecname}
	\\begin{card}
		${0:${VISUAL}}
	\\end{card}
\\end{frame}
endsnippet
