#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cengage WebAssign
Exec=chromium --app=https://www.webassign.net/v4cgi/faculty.pl
Icon=/home/brent/Pictures/Icons/Cengage.png
