#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Dropbox
Exec=chromium --app=https://www.dropbox.com/
Icon=/home/brent/Dropbox/Webapps/Icons/Dropbox.png
