#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
#Exec=chromium --app=https://drive.google.com/
Exec=firefox -p work --kiosk --new-window https://drive.google.com/
Icon=/home/brent/Pictures/Icons/Google Drive 3.png
