#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Slides
Exec=chromium --app=https://slides.google.com
Icon=/home/brent/Dropbox/Webapps/Icons/Google Slides.png
