#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Mint
Exec=chromium --app=https://www.mint.com/
Icon=/home/brent/Pictures/Icons/Mint 2.png
