#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Office 365
Exec=chromium --app=https://www.office.com/?auth=2
Icon=/home/brent/Dropbox/Webapps/Icons/Office 365.png
