#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reddit
#Exec=chromium --app=https://www.reddit.com/
Exec=firefox -p work --kiosk --new-window https://www.reddit.com/
Icon=/home/brent/Pictures/Icons/Reddit.png
