#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trello
Exec=chromium --app=https://trello.com
Icon=/home/brent/Pictures/Icons/Trello.png
